<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/favicon_io/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="../static/js/dashboard.js"></script>
</head>
<body onload="receiveUserData()" id="body">
    <div id="main_div">
        <select name="selection_win" id="selection_win"> </select>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
        
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">

        <button onclick="filter()">Filter</button>

    <section id="table">
        <table id="table" >
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Key Logs</th>
                </tr>
            </thead>
            <tbody id="table-body">
                
            </tbody>
        </table>
    </div>
</section>
</body>
</html>