<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scripts.js"></script>

    <p>
        <center>
            Hello world
        </center>
    </p>

</head>
<body onload="loadButtons()">

    <h1 class="h1_cot">Targets Dashboard</h1>

    <div id="buttons_container" class="element"></div>

</body>
</html>